### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# config files
config/**
!config/*_template.yaml
!config/user-files
!config/user-files/**
!config/nginx
!config/nginx/*_template.conf

# assets
assets/certs/**
assets/kubeconfigs/**
assets/database/**
!assets/certs/*.md
!assets/kubeconfigs/*.md
!assets/database/*.md

pkg/user

# Ignore OS X metadata files
._*
