user_files/conf/**
user_files/keys/**
user_files/yml/*.yml
# Include yml files for cluster-level tasks
!node-viewer*
!namespace-viewer*
supervisor/**
daemons/*.json
# Ignore OS X metadata files
._*

# Python bytecode
*.pyc

# namecheap_config
test-portal/namecheap_config.py

# portal conf
test-portal/config.py

