glide.*
cmd/user_files/*
cmd/daemons/*.sh
cmd/daemons/*.py
cmd/user_files/scripts/*.sh
cmd/user_files/scripts/*.py
cmd/user_files/conf/**
cmd/user_files/keys/**
cmd/user_files/yml/*.yml
# Include yml files for cluster-level tasks
!node-viewer*
!namespace-viewer*
supervisor/**
daemons/*.json
# Ignore OS X metadata files
._*

# Python bytecode
*.pyc

# namecheap_config
test-portal/namecheap_config.py

# portal conf
test-portal/config.py
