<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
		<title>
			{% if title %}
				{{title}}
		  {% else %}
		     edgeNet
		  {% endif %}
		</title>
		  <link rel="stylesheet" type="text/css" href="/styles/main.css">
		  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		{% block custhead %}
		{% endblock %}
</head>
<body>
	  <div id="imageHeader">
		  <a href="/"><img src='/images/edgeNetLogo.png' height=200 alt='edgeNet Logo'/></a>
	  </div>
	  <div id="fullWrapper">
	  	<div id="pageHeader">
	  		{% block pageHeader %}
		    {% endblock %}
		  
	    </div>
	    <div id="pageOptions">
	  		{% block pageOptions %}
		    {% endblock %}
		  
	    </div>
		  
	  </div>
		
		<br>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="nodeTable">
			<style>
			table.nodetable {
				border: 1px solid black; 
			}
			th.nodehead {
				height: 50px;
				border: 1px solid black; 
			}
			tr.noderow:nth-child(even) {background-color: #f2f2f2;}
			</style>
			{% if nodes %}
			  <center>
			  	<table class="nodetable">
			  		<tr><th class="nodehead"> Current edgeNet Node List Fetched at {{node_fetch_time}} UTC </th></tr>
			  		{% for node in nodes %}
			  		<tr class="noderow"><td>{{ node }}</td></tr>
			  		{% endfor %}
			  	</table>
			  </center>
			 {% endif %}
		</div>
		<div id="footer">
			{% block footer %}
			{% endblock %}
		</div>
		<div id="credits">
			<p>edgeNet is a joint project between US Ignite and New York University Tandon School of Engineering, and is supported by the National Science Foundation</p>
			<table style="border-collapse: separate; border-spacing: 30px;">
				<tr>
					<td><img src='/images/ignite.jpeg' alt='US Ignite' height = 30/></td>
					<td><img src='/images/tandon.png' alt='NYU Tandon' height = 30/></td>
					<td><img src='/images/nsf.png' alt='NSF' height = 30/></td>
				</tr
			</table>
		</div>
</body>
{% endautoescape %}
</html>
