body{
	background-color: #fff;
	font-family: 'PT Sans', sans-serif;
}

table{
	border-collapse: collapse;
}

#imageHeader {
	margin-left:auto;
	margin-right:auto;
	width:800px;
}

#fullWrapper {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color: #ddd;
	padding:20px;
	border-radius: 10px;
}

.pageHeader {
	text-align: center;
	padding-bottom:20px;
	font-size:30px;
}

.pageOptions {
	padding-right:15px;
}

#footer{
	font-size:12px;
	text-align: center;
	padding:5px;
}