/*************************************************************************
 * Your custom CSS file
 *************************************************************************/

 .pre
{
border: 1px solid #999;
page-break-inside: avoid;
display: block;
padding: 3px 3px 2px;
margin: 0 0 10px;
font-size: 13px;
line-height: 20px;
word-break: break-all;
word-wrap: break-word;
/*white-space: pre;
white-space: pre-wrap;*/
background-color: #f5f5f5;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.15);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
font-size: 12px;
color: #333333;
}

.pre code
{
 padding: 0;
 color: inherit;
 white-space: pre;
 white-space: pre-wrap;
 background-color: transparent;
 border: 0;
}

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

.node-container {
  font-size: 14px;
}

.node-count, .active-node-count {
  font-weight: bold;
}

.control-group a {
  text-decoration: none;
}

#map {
  height: 350px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}
